.course {
    width: 360px;
    height: 423px;
    max-width: 360px;
    overflow-y: scroll;
    transition-duration: 0.15s;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.3);
  }
  
    .course::-webkit-scrollbar { 
        display: none;
    }

    .course:hover{
        box-shadow: 0 7px #a30506;
        border-color: #a30506;
    }
    .course:hover:active {
        box-shadow: 0 3px #a30506;
        transform: translateY(5px);
    }
  
.course--image {
    width: 95%;
    margin: 15px 0px 0px 9px;
    border-radius: 10px;
}
  
.course--title {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 0px;
}

.course--instructor {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 0px;
    margin-bottom: 20px;
    opacity: 0.8;
}
  
.course--hours {
    margin-left: 17px;
    margin-top: -18px;
}
  
.hour--icon {
    max-width: 16px;
}
  
.hours--count {
    margin-left: 5px;
    font-size: 18px;
    font-weight: 400;
}
  
.course--rating {
    margin-left: 14px;
}
  
.number--reviews {
    font-size: 11px;
}
  
.price--icon {
    max-width: 23px;
    margin-right: 5px;
}
  
.course--price {
    margin-top: 5px;
    margin-left: 13px;
    margin-bottom: 10px;
}
  
.price {
    font-size: 20px;
    margin-top: -10px;
    font-weight: 600;
}

.old--price{
    margin-left: 10px;
    color: grey;
    text-decoration: line-through;
}
  
.product-loading-1 {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 192px;
}

.product-loading-2 {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 50px;
}

.product-loading-3 {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 31px;
    width: 35%;
 }

.product-loading-4 {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 35px;
    width: 45%;
}

.background-masker {
    background-color: #fff;
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -800px 0
    }
    100% {
      background-position: 800px 0
    }
  }