.accessrequests--headerdiv {
    width: 100%;
    display: flex;
    padding: 50px 0px;
    height: fit-content;
    background-color: #f7f7f7;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.accessrequests--pricesimage {
    width: 450px;
    height: fit-content;
}

.accessrequests--number {
    text-align: center;
}

.accessrequests-list {
    display: flex;
    margin: 65px 0px;
    margin-top: 0px;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}