.error404Image{
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    margin-top: 30px;
}

.error404Text{
    text-align: center;
}

.support--email {
    color: #a30506;
}