/* Text indent: 5px; */

.signUp--title{
    margin-bottom: 30px;
}

.signUpForm--div {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    border: 1px solid black;
    min-width: 500px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

.next--button {
    width: fit-content;
    min-width: 90px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-width: 1px;
}

.next--button:hover {
    background-color: #a30506;
    border-color: #bd0312;
    color: white;
}

.signUp--form {
    display: inline-block;
    text-align: left;
    width: 200px;
    
}

.signUp--form> input:not([type=checkbox]){
    margin-bottom: 15px;
    height: 30px;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}

.showpassword--checkbox{
    margin-bottom: 1px;
}

.gender--title{
    margin-bottom: 10px;
    size: 12px;
}

.gender-select{
    display: block;
    gap: 10px;
    margin-bottom: 20px;
}

.gender-select> div{
    text-indent: 10px;
    margin-right: 200px;
    display: flex;
}

.Terms--and--conditions{
    margin-top: 160px;
    margin-bottom: 100px;
    text-align: center;
    border: 1px solid black;
    min-width: 500px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

.TAC--text{
    margin-top: 12px;
    margin-bottom: 12px;
}

.TAC--label{
    text-shadow: #444;
    font-weight: bold;
}

.TAC--checkbox{
    margin-bottom: 10px;
}

.TAC-buttons{
    display: flex;
    gap: 10px;
    text-align: center;
    margin-left: 125px;
    margin-bottom: 0px;
}

.signUp--button, .back--button{
    width: fit-content;
    min-width: 90px;
    height: 50px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-width: 1px;
    text-align: center;  
}

.back--button:hover {
    background-color: #e4e4e4;
}

.signUp--button:hover {
    background-color: #a30506;
    border-color: #bd0312;
    color: white;
}
/* .show-password-div{
    text-align: center;
} */
  
/* .form--errormessage{
    text-align: center;
    color: red;
}
  
.form--successmessage{
    color: green;
    text-align: center;
} */