/* Text indent: 5px; */

/* .signUp--title{
    margin-bottom: 30px;
} */

/* .signUpForm--div {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    border: 1px solid black;
    min-width: 500px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
} */

.signUp--container{
    min-height: 900px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 22%;
}

.signUp--title {
    margin: 0px;
    margin-bottom: 30px;
}

.signUp--leftContainer {
    border: solid;
    background-color: white;
    border-radius: 30px;
    border-width: 0px;
    padding: 30px 40px;
    padding-bottom: 25px;
    margin-right: 0px;
    box-shadow: 0 0 3px rgb(0 0 0 / 16%);
    max-height: 880px;
}

.signUp--rightContainer {
    width: 50%;
    margin-left: auto;
    margin-right: 100px;
}

.signUp--signUpImage {
    width: 800px;
    height: fit-content;
}

.signUp--inputField {
    display: block;
    font-family: Poppins;
    border: solid;
    border-width: 1px;
    border-radius: 1px;
    width: 400px;
    padding: 25px 20px;
    margin-bottom: 10px;
}

.next--button {
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 35px;
    margin: 0px auto;
    margin-bottom: 10px;
}

.next--button:hover {
    opacity: 0.8;
}

.secondPageBack--button{
    border-style: solid;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 35px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.secondPageBack--button:hover {
    background-color: #e4e4e4;
}

 .signUp--form {
    margin-top: 30px;
    margin-bottom: 30px;
}

.showpassword--checkbox{
    margin-bottom: 1px;
    margin-top: 10px;
}

.gender--title{
    margin-bottom: 10px;
    size: 12px;
}

.gender-select{
    display: block;
    gap: 10px;
    margin-bottom: 20px;
}

.gender-select> div{
    text-indent: 10px;
    margin-right: 200px;
    display: flex;
}

.tcdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Terms--and--conditions{
    border: solid;
    background-color: white;
    border-radius: 30px;
    border-width: 0px;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    margin-bottom: 100px;
    text-align: center;
    min-width: 700px;
    max-width: 200px;
    padding: 20px;
}


.TAC--text{
    margin-top: 12px;
    margin-bottom: 25px;
    margin-right: 12px;
    margin-left: 12px;
    font-size: 22px;
    max-width: fit-content;
}

.TAC--label{
    text-shadow: #444;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.TAC--checkbox{
    margin-bottom: 25px;
    transform: scale(1.5);
    margin-right: 10px;
    cursor: pointer;
}

.TAC-buttons{
    display: flex;
    text-align: center;
    flex-direction: column;
    /* margin-left: 160px; */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.TCback--button{
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 400px;
    min-width: 400px;
    padding-top: 20px;
    padding-bottom: 35px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.signUp--button{
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 400px;
    min-width: 400px;
    padding-top: 20px;
    padding-bottom: 35px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.TCback--button:hover {
    background-color: #e4e4e4;
}

.signUp--button:hover {
    opacity: 0.8;
}