.settingspage {
    display: flex;
}

.settingspage--leftcontainer {
    width: 20%;
    height: 100vh;
    background-color: white;
    color: black;
    padding: 30px 40px;
}

.settingspage--header {
    margin-top: 0px;
}

.settingspage--rightcontainer {
    width: 80%;
    height: 100vh;
    background-color: #f7f7f7;
}

.settingspage--signinsecurity {
    font-size: 22px;
    border: solid;
    border-width: 0px;
    border-color: black;
    padding: 15px;
    background-color: #f7f7f7;
    cursor: pointer;
}

.form--leftcontainer.changesuccess {
    width: 31%;
    height: 700px;
    text-align: center;
    margin: auto;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success--image {
    width: 80%;
}