.homepage--topcontainer {
    min-height: 750px;
    height: fit-content;
    padding: 0px 0px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.homepage--header {
    font-size: 75px;
    width: 21%;
    margin-left: 60px;
}

.homepage--image {
    height: 620px;
    width: fit-content;
}

.homepage--middlecontainer {
    display: flex;
    justify-content: center;
}

.homepage--attendcourses {
    display: flex;
    align-items: center;
    gap: 20px;
}

.homepage--attendimage {
    width: 500px;
    height: fit-content;
}

.homepage--line {
    width: 100%;
    border: 1px solid #a30506;
    margin-bottom: 30px;
    margin-left: 0px;
}

.homepage--assessyourlevel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.homepage--assessimage {
    width: 350px;
    height: fit-content;
}

.homepage--getimage {
    width: 460px;
    height: fit-content;
}