.homepage--topcontainer {
    min-height: 750px;
    height: fit-content;
    padding: 0px 0px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.homepage--headerbutton {
    width: 21%;
    margin-left: 45px;
    padding-bottom: 20px;
}

.homepage--header {
    font-size: 75px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.homepagebutton--signup {
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 35px;
}

.homepagebutton--signup:hover {
    opacity: 0.8;
}

.homepage--image {
    height: 600px;
    width: fit-content;
    margin-top: -20px;
}

.homepage--middlecontainer {
    display: flex;
    justify-content: center;
    padding: 0px 0px 50px 0px;
}

.homepage--attendcourses {
    display: flex;
    align-items: center;
    gap: 20px;
}

.homepage--attendcourses.show {
    -webkit-animation: fadeinFromRight 2s; 
    -moz-animation: fadeinFromRight 2s; 
    -o-animation: fadeinFromRight 2s; 
    animation: fadeinFromRight 2s;
}

.homepage--attendimage {
    width: 500px;
    height: fit-content;
}

.homepage--assessyourlevel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.homepage--assessyourlevel.show {
    -webkit-animation: fadeinFromLeft 2s; 
    -moz-animation: fadeinFromLeft 2s; 
    -o-animation: fadeinFromLeft 2s; 
    animation: fadeinFromLeft 2s;
}

@keyframes fadeinFromLeft {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeinFromRight {
    0% {
        transform: translateX(300px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.homepage--assessimage {
    width: 350px;
    height: fit-content;
}

.homepage--line {
    width: 100%;
    border: 1px solid #a30506;
    margin-bottom: 30px;
    margin-left: 0px;
}

.homepage--getimage {
    width: 460px;
    height: fit-content;
}

.homepage--popularcourses {
    background-color: #f7f7f7;
    padding-top: 1px;
    padding-bottom: 70px;
}

.homepage--whyambizo {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    gap: 20px;
    background-color: #a30506;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    color:white;
}

.whyambizo--header {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 700;
}

.homepage--whyreasons {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 35%;
    font-size: 25px;
}