.instructor--options {
    min-height: 750px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 7.5% 0px 10%;
    background-color: #f7f7f7;
}

.instructor--leftcontainer {
    width: 50%;
    margin-right: auto;
}

.instructor--rightcontainer {
    width: 50%;
    margin-left: auto;
    text-align: center;
}

.instructor--adminimage {
    width: 100%;
    height: fit-content;
    margin-top: 70px;
    margin-bottom: 0px;
}

.instructor-header {
    margin: 0px;
}

.instructor--line {
    width: 100px;
    border: 1px solid #a30506;
    margin-bottom: 30px;
    margin-left: 0px;
}

.instructor--discounts {
    display: flex;
    gap: 20px;
}

.instructor--setpromobutton {
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 25%;
    height: 40px;
    border-width: 1px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 0px;
}

.instructor--setpromobutton:hover {
    opacity: 0.8;
}

.instructor--addusers {
    display: flex;
    gap: 10px;
}

.instructorright--header {
    width: 75%;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
}