.exercise {
    display: flex;
    width: 50%;
    height: 80px;
}

.exerice--icon {
    width: 7%;
    height: fit-content;
    margin: auto 0px auto 0px;
}

.exercise--title {
    font-size: 20px;
    font-weight: 500;
    margin: auto auto auto 2%;
}