.exercise {
    display: flex;
    width: 50%;
    height: 80px;
    border-width: 2px;
    border-color: hsla(210,18%,87%,1);
    border-style: solid;
    background-color: #f7f9fa;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.exercise:hover{
    background-color: #d8e2e7;
}

.exerice--icon {
    width: 55px;
    height: fit-content;
    margin: auto 0px auto 40px;
}

.exercise--title {
    font-size: 20px;
    font-weight: 500;
    margin: auto auto auto 2%;
}

.exercise--view--delete--div{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 2%;
}

.exercise--view--delete--div > button{
    min-width: 170px;
    width: fit-content;
    margin: 0;
}

.subtitle--description.addExercise{
    font-size: 11pt;
}
