.courses-list {
    display: flex;
    margin: 30px 230px;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
  }

.coursesTitleFilter {
  margin: 30px 80px -15px 235px;
  display: flex;
  align-items: center;
}

.coursesTitleFilter--header { 
  margin: auto auto auto 0px;
  color: black;
  font-size: 30px;
  font-weight: 600;
}

.filter--icon {
  height: 40px;
  float: right;
  margin-right: -40px;
}

.filter--button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-right: 150px;
  cursor: pointer;
  border-radius: 2px;
  border-width: 0px;
}

.filter--button:hover {
  background-color: #e4e4e4;
  opacity: 0.2;
}

.header--line {
  width: 100%;
  border: 1px solid #a30506;
  margin-bottom: 30px;
}

.no--courses {
  font-size: 30px;
}

.button--selectall {
  border-color: #bd0312;
  background-color: #a30506;
  border-style: solid;
  color: white;
  width: 120px;
  padding: 10px 0;
  margin-left: auto;
  margin-right: 13%;
}

.button--selectall:hover {
  opacity: 0.8;
}

.adminselectall--checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-right: 250px;
  margin-left: auto;
  border: black;
  border: solid;
  border-width: 1px;
  width: 148px;
  height: 50px;
  background-color: #a30506;
  color: white;
  padding-right: 5px;
  border-radius: 2px;
}

.admin--selectallcourses {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.admin--selectallcourses:checked {
  background-color: black;
}

.admin--selectalltext {
  font-weight: 400;
  font-size: 18px;
}