body.active-modal {
    overflow-y: hidden;
}
  
.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}
  
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
    -webkit-animation: fadein 0.25s; 
    -moz-animation: fadein 0.25s; 
    -o-animation: fadein 0.25s; 
    animation: fadein 0.25s; 
}
  
.overlay {
    background: rgba(49,49,49,0.8);
}
  
.modal-content {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    line-height: 1.4;
    background: #b10918;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 1000px;
    min-width: 460px;
    width: 30%;
    z-index: 1;
}
  
.x--icon {
    width: 40px;
    min-width: 40px;
    position: absolute;
    top: 5px;
    right: 0px;
    padding: 5px 7px;
}
  
.close-modal {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 12px;
    border-width: 0px;
    background-color: transparent;
    position: absolute;
    top: 7px;
    right: 5px;
    padding: 5px 7px;
}
  
.country--select {
    margin-top: 31px;
    cursor: pointer;
}

.choose--country {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.chooseCountry--icon {
    max-width: 45%;
    margin-top: 27px;
    margin-right: 33px;
    height: fit-content;
}

.chooseCountry--text {
    font-size: 30px;
    font-weight: 500;
    margin: 100px 37px 0px 40px;
    display: table-caption;
}
