.top--container {
    width: 100%;
    height: fit-content;
    background-image: url("../../images/Banner.jpg");
    background-repeat: round;
    padding: 50px 20% 50px 20%;
    display: flex;
    align-items: center;
    color: white;
}

.container--left {
    width: 57%;
    margin-right: auto;
}

.all--hyperlink, .subject--hyperlink, .instructor--hyperlink {
    color: white;
    text-decoration: underline;
    font-size: 13.5pt;
    font-weight: 400;
    cursor: pointer;
}

.instructor--hyperlink {
    font-size: 17px;
    margin-left: 5px;
}

.coursedetails--fulltitle {
    margin-bottom: 0px;
}

.coursedetails--description {
    width: 85%;
    font-size: 23px;
    font-weight: 500;

}

.coursedetails--ratecounthourcount {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.coursedetails--rating {
    margin-right: 5px;
}

.coursedetails--numberratings {
    font-size: 18px;
    margin-right: 50px;
    cursor: pointer;
}

.coursedetails--ratingsUnderline{
    text-decoration: underline;
    
}

.coursedetails--hour {
    max-width: 20%;
}

.coursedetails--houricon {
    max-width: 20px;
}
  
.coursedetails--hourscount {
    margin-left: 10px;
    margin-right: 50px;
    font-size: 25px;
    font-weight: 400;
}

.top--container .MuiRating-decimal {
    color: white;
}

.coursedetails--instructor {
    font-size: 17px;
    font-weight: 500;
}

.container--right {
    width: 30%;
    min-width: 490px;
}

.coursedetails--courseimagepriceenroll {
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 5px 5px 20px 7px rgba(0,0,0,1);
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 5px;
}

.coursedetails--image {
    width: 465px;
    height: 261px;
    object-fit: cover;
    margin: 0px auto 10px auto;
    display: block;
    border-radius: 1px;
}

.coursedetails--priceenroll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    color: white;
    gap: 20px;
    width: 100%;
    margin: 20px auto;
}

.coursedetials--pricediscount {
    display: flex;
    flex-direction: column;
    max-width: 42%;
}

.coursedetails--price {
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
}

.coursedetails--oldprice {
    color: grey;
    text-decoration: line-through;
}

.coursedetails--discount {
    margin: 0px;
}

.coursedetails--accessrequestdeclined {
    text-align: center;
}

/* .button--enrolldiscounted {
    margin: 0px 40px 0px auto;
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 35%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
} */

.button--enroll {
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 35%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.button--enroll:hover, .button--enrolldiscounted:hover {
    opacity: 0.8;
}

.coursedetails--subtitles {
    padding-left: 20%;
    margin-bottom: 50px;
}
.coursedetails--subtitlesheader, .coursedetails--exercisesheader {
    margin-top: 25px;
    font-size: 26px;
}

.coursedetails--exercisesheader {
    margin-bottom: 0px;
}

.coursedetails--enrolledoptions {
    text-align: center;
    margin: 20px 0px;
}

.youareenrolled {
    margin: 0px;
    margin-bottom: 15px;
}

.button--rate {
    margin: 0px 5px;
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 40%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.button--rate:hover {
    opacity: 0.8;
}

.enrolledoptions--ratebuttons{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.coursedetails--ratings{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 80%;
}

.courseDetails--noratings{
    margin-left: 30px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 20px;
}

.subtitles--progress--div{
    display: flex;
    flex-wrap: wrap;
}

.subtitles--progress--notes--div{
    display: flex;
    flex-direction: row-reverse;
    /* flex-wrap: wrap; */
    gap: 10px
}

.progress--div{
    box-shadow: 3px 5px 10px 0 rgba(0,0,0,.3);
    border: 1px solid #a30506;
    border-radius: 10px;
    height: fit-content;
    width: 450px;
    min-height: 140px;
    margin-left: 270px;
    margin-right: 100px;
    margin-bottom: 35px;
}

.progress--notes--div{
   position: sticky;
   top: 100px;
   margin-bottom: -1000px;
}

.coursedetails--subtitles--flexDiv{
    flex: 0 0 100%;
}

.progress--div--header{
    text-align: center;
    font-size: 20pt;
    font-weight: 600;
    color: #a30506;
    margin-bottom: 15px;
}

.progress--bar{
    width: 80%;
    height: 20px;
    border: 1px solid #a30506;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    position: relative;
    background-color: rgb(226, 232, 240);
}

.progress--bar::after{
    content: '\A';
    background: #a30506;
    border-radius: 15px;
    position:absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    width: var(--progress);
}

.progress--percentage{
    text-align: center;
    font-size: 12pt;
    color: #a30506;
}

.progress--percentage.refund{
    font-size: 11pt;
    color:black
}

.progress--percentage.certificate{
    color:black
}

.spinner.certificate{
    width: 44px;
    height: 44px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.courseDetails--notes{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 700px;
    margin-bottom: 100px;
    margin-left: 100px;
}

.notes--title{
    font-size: 30px;
    margin-left: 18px;
}

.notes--textArea{
    min-height: 300px;
    font-family: 'Poppins';
    border: white;
}

.downloadNotes--button{
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 180px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.downloadNotes--button:hover{
    opacity: 0.8;
}

.PDFDownloadLink{
    text-decoration: none;
    width: fit-content;
    margin-left: 100px;
}

.notes--titleAndTextArea{
    box-shadow: 3px 5px 10px 0 rgba(0,0,0,.3);
    border: 1px dashed #a30506;
    border-radius: 20px;
    border-width: 2.3px;
    height: fit-content;
    width: 450px;
    min-height: 140px;
    margin-left: 170px;
    margin-right: 50px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}


.completedcourse--image {
    width: 80%;
    margin-left: 50px;
    width: 100%;
}

.button--report {
    margin-top: 50px;
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 10%;
    height: auto;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: 264px;
}

.button--report:hover {
    opacity: 0.8;
}