.top--container {
    width: 100%;
    height: fit-content;
    background-image: url("../../images/Banner.jpg");
    background-repeat: round;
    padding: 50px 20% 50px 20%;
    display: flex;
    align-items: center;
    color: white;
}

.container--left {
    width: 57%;
    margin-right: auto;
}

.all--hyperlink, .subject--hyperlink, .instructor--hyperlink {
    color: white;
    text-decoration: underline;
    font-size: 13.5pt;
    font-weight: 400;
    cursor: pointer;
}

.instructor--hyperlink {
    font-size: 17px;
    margin-left: 5px;
}

.coursedetails--fulltitle {
    margin-bottom: 0px;
}

.coursedetails--description {
    width: 85%;
    font-size: 23px;
    font-weight: 500;

}

.coursedetails--ratecounthourcount {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.coursedetails--rating {
    margin-right: 5px;
}

.coursedetails--numberratings {
    font-size: 18px;
    margin-right: 50px;
    cursor: pointer;
}

.coursedetails--ratingsUnderline{
    text-decoration: underline;
    
}

.coursedetails--hour {
    max-width: 20%;
}

.coursedetails--houricon {
    max-width: 20px;
}
  
.coursedetails--hourscount {
    margin-left: 10px;
    font-size: 25px;
    font-weight: 400;
}

.top--container .MuiRating-decimal {
    color: white;
}

.coursedetails--instructor {
    font-size: 17px;
    font-weight: 500;
}

.container--right {
    width: 30%;
    min-width: 490px;
}

.coursedetails--courseimagepriceenroll {
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 5px 5px 20px 7px rgba(0,0,0,1);
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 5px;
}

.coursedetails--image {
    width: 95%;
    margin: 0px auto 10px auto;
    display: block;
    border-radius: 1px;
}

.coursedetails--priceenroll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    color: white;
    gap: 20px;
    width: 100%;
    margin: 20px auto;
}

/* .coursedetails--priceicondiscounted {
    width: 8%;
    height: fit-content;
    margin: -90px 5px 0px 30px;
}

.coursedetails--priceicon {
    width: 8%;
    height: fit-content;
    margin: 0px 5px 0px 30px;
}

.coursedetails--priceiconinstr {
    width: 8%;
    height: fit-content;
    margin: 0px 15px 0px 0px;
} */

.coursedetials--pricediscount {
    display: flex;
    flex-direction: column;
    max-width: 42%;
}

.coursedetails--price {
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
}

.coursedetails--oldprice {
    color: grey;
    text-decoration: line-through;
}

.coursedetails--discount {
    margin: 0px;
}

/* .button--enrolldiscounted {
    margin: 0px 40px 0px auto;
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 35%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
} */

.button--enroll {
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 35%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.button--enroll:hover, .button--enrolldiscounted:hover {
    opacity: 0.8;
}

.coursedetails--subtitles {
    padding-left: 20%;
    margin-bottom: 50px;
}
.coursedetails--subtitlesheader, .coursedetails--exercisesheader {
    margin-top: 25px;
    font-size: 26px;
}

.coursedetails--exercisesheader {
    margin-bottom: 0px;
}

.coursedetails--enrolledoptions{
    text-align: center;
    margin: 20px 0px;
}

.youareenrolled {
    margin: 0px;
    margin-bottom: 15px;
}

.button--rate {
    margin: 0px 5px;
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 40%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.button--rate:hover {
    opacity: 0.8;
}

.enrolledoptions--ratebuttons{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.coursedetails--ratings{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 80%;
}

.courseDetails--noratings{
    margin-left: 30px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 20px;
}



