.question--container{
    width: 45%;
    margin: 0px auto 25px auto;
    box-shadow: 3px 5px 10px 0 rgba(0,0,0,.3);
    border: 1px solid rgba(0, 0, 0, 0.6);
    height: fit-content;
    -webkit-animation: fadein ease-in-out 1s; 
    -moz-animation: fadein ease-in-out 1s; 
    -o-animation: fadein ease-in-out 1s; 
    animation: fadein ease-in-out 1s; 
}

.question--title--div{
    background-color: #a30506;
    color: white;
}

.question--title{
    font-size: 22pt;
    margin: 0;
    height: fit-content;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 17px;
    padding-bottom: 17px;
    display: inline-block;
    word-break: break-word;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.question--icon{
    width: 50px;
    margin-right: 8px;
    margin-left: 8px;
}

.question--choice {
    display : flex;
    align-items: center;
    width: 100%;
    min-height: 75px;
    height: fit-content;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.question--choice:hover{
    background-color: #e4e4e4;
    cursor:pointer;
}

.question--choice.checked{
    background-color: #cdcdcd;
}

.question--choice.correct{
    background-color: lightgreen;
}

.question--choice.wrong.checked {
    background-color: #cdcdcd;
}

.question--choice--icon.wrong{
    color:#a30506;
    font-size:15pt;
}

.question--choice--icon.wrong:hover{
    background-color: #cdcdcd;
}

.question--choice--icon.correct{
    color:#32612D;
    font-size:15pt;
}

.question--choice > input{
    visibility: hidden;
    position: absolute;
}

.question--choice--text{
    font-size: 14pt;
    display: inline-block;
    word-break: break-word;
    margin-right: 8px;
}

.correct:hover, .wrong:hover{
    cursor:default;
}

.wrong.checked:hover{
    background-color: #cdcdcd;
}

.wrong:hover{
    background-color: white;
}
