.login--container {
    min-height: 900px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 22%;
}

.login--leftcontainer {
    border: solid;
    background-color: white;
    border-radius: 30px;
    border-width: 0px;
    padding: 100px 40px;
    margin-right: 0px;
    box-shadow: 0 0 3px rgb(0 0 0 / 16%);
}

.login--rightcontainer {
    width: 50%;
    margin-left: auto;
    margin-right: 100px;
}

.login--loginimage {
    width: 800px;
    height: fit-content;
}

.login--header {
    margin: 0px;
    margin-bottom: 30px;
}

.login--inputfield {
    display: block;
    font-family: Poppins;
    border: solid;
    border-width: 1px;
    border-radius: 1px;
    width: 400px;
    padding: 25px 20px;
    margin-bottom: 10px;
}

.loginform--button {
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 400px;
    min-width: 400px;
    padding-top: 20px;
    padding-bottom: 35px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.loginform--button:hover {
    opacity: 0.8;
}