.button--login {
    width: 90px;
    min-width: 90px;
    height: 50px;
    margin: auto 0px auto auto;
    border-width: 1px;
}
  
.button--login:hover {
    background-color: #e4e4e4;
}
  
.button--signup {
    border-color: #bd0312;
    background-color: #a30506;
    border-style: solid;
    color: white;
    width: 90px;
    min-width: 90px;
    height: 50px;
    margin: auto 0px auto 10px;
}
  
.button--signup:hover {
    opacity: 0.8;
}
  
.country--icon {
    height: 30px;
    margin: auto 0px auto 10px;
}
  
.country--button {
    width: 35px;
    height: 35px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    margin: auto 0px auto -35px;
    background-color: transparent;
    border-width: 0px;
}
  
.search--button:hover, .country--button:hover {
    background-color: #e4e4e4;
    opacity: 0.2;
}

nav {
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0px 35px;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
  }
  
.nav--logo {
    display: block;
    margin: auto 0px auto 30px;
    max-width: 200px;
    max-height: 65px;
}
.nav-controls{
    cursor: pointer;
    display: flex;
}

.arrow--icon {
    display: block;
    margin: auto 10px auto 0px;
    max-width: 10px;
    max-height: 65px;
}

.user--button {
    margin: auto 7px auto auto;
}

.user--div{
    display: flex;
    margin: auto 40px auto auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
