.multiselect-container .searchBox::placeholder {
    color: black !important;
    opacity: 1;
}
  
.multiselect-container {
    margin-bottom: 10px;
}
  
.search-wrapper .chip {
    background-color: black;
}
  
.search-wrapper .singleChip {
    color: white;
}
  
.multiselect-container .searchWrapper {
    border-color: black;
}
  
.modal-content-filter {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    line-height: 1.4;
    background: #b10918;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 1000px;
    min-width: 460px;
    width: 25%;
    z-index: 1;
    -webkit-animation: fadein 0.25s; 
    -moz-animation: fadein 0.25s; 
    -o-animation: fadein 0.25s; 
    animation: fadein 0.25s; 
}
  
.input-minmax {
    margin-top: -13px;
    display: flex;
}
    
.input--minprice {
    width: 200px;
    height: 50px;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b10918;
    border-style: solid;
    border-color: black;
}
  
.input--maxprice {
    width: 200px;
    height: 50px;
    padding-left: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #b10918;
    border-style: solid;
    border-color: black;
}

.input--minprice:disabled, .input--maxprice:disabled {
    opacity: 0.5;
} 
  
.filterapply--button {
    width: 90px;
    min-width: 90px;
    height: 50px;
    border-width: 1px;
    background-color: black;
    color: white;
    margin: 40px auto 20px auto;
}
  
.input--minprice::-webkit-outer-spin-button,
.input--minprice::-webkit-inner-spin-button,
.input--maxprice::-webkit-outer-spin-button,
.input--maxprice::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.price--error {
    color: white;
    margin-top: -5px;
    margin-left: 2px;
}

.free--checkbox {    
    margin: 5px 10px 0px 10px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.alert--pricerange {
    margin-bottom: 10px;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}