.dynamic-form--div{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.dynamic-form--div > input{
    height: 30px;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: auto;
}

.dynamic-form--Exercisediv{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.dynamic-form--Exercisediv > input{
    height: 30px;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 26.5%;
}

.dynamic-form--removebtn{
    width: fit-content;
    min-width: 90px;
    height: 30px;
    border-width: 1px;
    border-color: #bd0312;
    background-color: #a30506;
    color: white;
}

.dynamic-form--removebtn:hover {
    opacity: 0.8;
}

.react-select-container{
    margin-bottom: 15px;
    font-size: 11pt !important;
}

.react-select__control{
    min-height: 30px !important;
    height: 36px;
    border-color: black !important;
    padding: 1px 0px !important
}